<!doctype html>
<html>
<head>
<link rel="stylesheet" href="seeds.css" >
</head>
<body>
<div class="heading">
  <h1>Seeds </h1>
</div>
<hr />
<div class="container1">
   <img src="seed/" alt="seeds" id="image1"/>
     <img src="apples.jpg" alt="seeds" id="one"/>
     <img src="guava.jpg" alt="seeds" id="two"/>
     <img src="watermelom.jpg" alt="seeds" id="three"/>

</div>
<hr style="
    margin-top: 200px;
">

<div class="container2">
  <img src="seed.jpg" alt="seeds" id="image2"/>
    <img src="seed.jpg" alt="seeds" id="a"/>
    <img src="seed.jpg" alt="seeds" id="b"/>
    <img src="seed.jpg" alt="seeds" id="c"/>

</div>

</body>
</html>
